&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	{{# hero}}
		{{&gt; molecules-block-hero-secondary }}
	{{/ hero}}
	&lt;div role=&quot;main&quot;&gt;
		&lt;h1 class=&quot;section-title&quot;&gt;Id Porro Laudem Legimus Quo&lt;/h1&gt;
		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; organisms-latest-posts }}
				{{&gt; molecules-pagination }}
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-latest-gallery-images }}
				{{&gt; organisms-recent-tweets }}
				{{&gt; organisms-poll }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;
		&lt;/div&gt;&lt;!--end two-col--&gt;
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
	{{&gt; molecules-social-share }}
&lt;/div&gt;