/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
	background: #dcdddc;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray-light-2;
}

/* Block */
.block {
	overflow: hidden;

	p:last-child {
		margin-bottom: 0;
	}
}

.headline {
	line-height: 1.2;
}

/* Hero Block */
.block-hero {
	margin-bottom: $space-half;
	max-height: 700px;
	overflow: hidden;
	@media all and (min-width: $bp-med-2) {
		margin-top: 0;
	}
	.b-thumb {
		img {
			max-width: 1920px;
			display: block;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	position: relative;

	.b-text {
		max-width: 1024px;
		position: absolute;
		bottom: 30%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 60%;
		border: 2px solid $white;
		padding: 1em;
		text-align: center;
		@include vendor-prefix(border-radius, 10px);
		background: rgba(33, 33, 33, .5);
		
	}

	.b-title {
		text-transform: uppercase;
		color: $white;
		font-size: 0.8em;
		line-height: 1.25em;
		@media all and (min-width: $bp-med-2){
			font-size: 2.25em;
			line-height: 1.125em;
		}
		@media all and (min-width: $bp-large){
			font-size: 3em;
			line-height: 1.05em;
		}
	}
}

/* Block Thumbnail with Headline */
.block-thumb {
	display: table;
	width: 100%;
	border-collapse: collapse;

	.b-inner {
		display: table-row;
		vertical-align: top;
  		overflow: hidden;
	}

	.b-thumb {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			vertical-align: top;	
	  		width: 20%;
	  		max-width: 10em;

	 		img {
	 			display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.b-text {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			width: 70%;
			padding: 0 $pad;
		}
	}
}

/*STYLEGUIDE PATTERNS REMOVE*/
#sg-patterns .b-text {
  max-width: 266px !important;
}
/*STYLEGUIDE PATTERNS REMOVE END*/


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/* Block Inset */
.block-inset {
	position: relative;
	width: 100%;
	max-height: 360px;
 
	.b-thumb {
		position: relative;
		z-index: 0;

		img {
			display: block;
		}
	}
}

/* Hero Block */
.block-inset {
	margin-bottom: $space-half;
	position: relative;

	.headline {
		font-size: 1.1em;
	}

	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $dim;
		color: $white;
		padding: $pad-half;
	}
}

/* Block Thumb with Summary */
.block-thumb-summary {
	.b-thumb {
		float: left;
		width: 50%;
	}

	.b-text {
		margin-left: 50%;
		padding: $pad-half;
	}
}