&lt;div class=&quot;page&quot; id=&quot;gallery&quot;&gt;
	{{&gt; organisms-header }}
	{{# hero}}
		{{&gt; molecules-block-hero-secondary }}
	{{/ hero}}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
          &lt;h3&gt;Los Angeles City Photo Gallery&lt;/h3&gt;
				{{&gt; organisms-gallery }}
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-related-posts }}
				{{&gt; organisms-recent-tweets }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;
		&lt;/div&gt;&lt;!--end l-two-col--&gt;	
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
	{{&gt; molecules-social-share }}
&lt;/div&gt;